<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Calorie Tracker</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/static/vendors/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="/static/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/static/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- End layout styles -->
    <!-- <link rel="shortcut icon" href="/static/images/favicon.png" /> -->
  </head>
  <body>
    {% csrf_token %}
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="/home/">CALORIE TRACKER</a>
          <!-- <a class="sidebar-brand brand-logo-mini" href="../../index.html"><img src="/static/images/logo-mini.svg" alt="logo" /></a> -->
        </div>
        <ul class="nav">
          <!-- <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                 <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="/static/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div> 
                <div class="profile-name">
                  <h5 class="mb-0 font-awesome-4">{{ user.username }}</h5>
                   <span>Gold Member</span> 
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Update Profile</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Log out</p>
                  </div>
                </a>
              </div>
            </div>
          </li> -->
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/home/">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
         
          <li class="nav-item menu-items">
            <a class="nav-link" href="/dayLog/">
              <span class="menu-icon">
            <i class="mdi  mdi mdi-bookmark"></i>
              </span>
              <span class="menu-title">Log your Day</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/view_logs/">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">View Logs</S></span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/goal/">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span class="menu-title">Weight & Progress</span>
            </a>
           </li>
           <li class="nav-item menu-items">
            <a class="nav-link" href="/plan/">
              <span class="menu-icon">
                <i class="mdi mdi-timer-sand"></i>
              </span>
              <span class="menu-title">Weight Plan</span>
            </a>
           </li>
           <li class="nav-item menu-items">
            <a class="nav-link" href="/progress/">
              <span class="menu-icon">
                <i class="mdi mdi-timer-sand"></i>
              </span>
              <span class="menu-title">Progress</span>
            </a>
           </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/food/">
                <span class="menu-icon">
                    <i class="mdi mdi-file-document-box"></i>
                  </span>
                  <span class="menu-title">Nutrition Information</span>
                </a>
          </li>
          <!-- <li class="nav-item menu-items">
            <a class="nav-link" href="../../pages/icons/mdi.html">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
              <span class="menu-title">Icons</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/blank-page.html"> Blank Page </a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-500.html"> 500 </a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/register.html"> Register </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
              <span class="menu-title">Documentation</span>
            </a>
          </li> -->
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <!-- <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="/home/"><img src="/static/images/logo-mini.svg" alt="logo" /></a>
          </div> -->
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button  class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form method="GET" action="/search/" class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" name="query" class="form-control" placeholder="Search products" style="border-radius: 0%;">
                  <button class=" d-lg-flex search mdi mdi-magnify" style="background-color: #495057;"></button>
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              
              <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link btn btn-warning create-new-button"   href="/plan/">+ Create Weight Plan</a>
                  <!-- <i class="mdi mdi-view-grid"></i> -->
                </a>
              </li>
              
              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  <span class="count bg-danger"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Notifications</h6>
                  <div class="dropdown-divider"></div>
                  
                        <!-- <a class="nav btn btn-success create-new-button" href="/plan/">+ Create Weight Plan</a> -->
  
                        
                  <!-- <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-calendar text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Event today</p>
                      <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event today </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                      <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-link-variant text-warning"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Launch Admin</p>
                      <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">See all notifications</p>
                </div> -->
              <!-- </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <!-- <img class="img-xs rounded-circle" src="/static/images/faces/face15.jpg" alt=""> -->
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ user.username }}</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a href="/profile/" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi mdi-account-circle text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">View Profile</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href='/' class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        {% block content %}

        <div class="main-panel">
          <div class="content-wrapper">
            <!-- <h3> Hey ...</h3>
            
            <h6>Your body needs: {{ BMR }} calories per day.</h6>
             <h1>Basal Metabolic Rate (BMR): {{ BMR }}</h1>
<br><br> 
             <h6>Daily Calorie need based on activity level </h6> -->
            <div class="page-header">
              <h2 class="page-title">Hey {{user.username}}, Your body needs {{ BMR }} calories per day </h2>
              <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                </ol>
              </nav> -->
            </div>
            <div class="row">
              <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Daily Calorie need based on activity level</h4>
                    <p class="card-description">[TDEE]
                    </p>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Activity Level</th>
                            <th>Calorie</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Sedentary lifestyle (little to no exercise)</td>
                            <td>{{ sedentary }}</td>
                            
                          </tr>
                          <tr>
                            <td>lightly active lifestyle (light exercise or sports 1-3 days per week)
                            </td>
                            <td>{{ lightly_active }}</td>
                            
                          </tr>
                          <tr>
                            <td>moderately active lifestyle (moderate exercise or sports 3-5 days per week)
                            </td>
                            <td>{{ moderately_active }}</td>
                            
                          </tr>
                          <tr>
                            <td>very active lifestyle (hard exercise or sports 6-7 days per week)
                            </td>
                            <td>{{ very_active }}</td>
                            
                          </tr>
                          <tr>
                            <td>extremely active lifestyle (very hard exercise and a physically demanding job)</td>
                            <td>{{ extremely_active }}</td>
                    
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                
              </div>
              
              
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Calorie Budget:{{ BMR }}</h4>
                  
    <img src="data:image/png;base64,{{ chart_data }}" alt="Doughnut Chart">
                    <!-- <h4 class="card-title">Calorie Budget</h4>
                    <canvas id="calorieBudgetChart" style="width: 80%; margin: auto;"></canvas>                    
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Excercise</h6>
                        <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p>
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">...</h6>
                      </div>
                    </div> -->
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <!-- <div class="text-md-center text-xl-left"> -->
                         
                        <h6 class="p-3 mb-0 " align="center">View Details</h6>
                        <div class="col-3">
                          <div class="icon icon-box-success "> <a class="arrow" href="/view_logs/" >

                            <span class="mdi mdi-arrow-right-drop-circle-outline icon-item"></span></a></div>
                                             </div>
                        <!-- <p class="text-muted mb-0">....</p> -->
                      </div>
                      <!-- <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">101010</h6>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          
          
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
     

      <!-- page-body-wrapper ends -->
    </div>
    {% endblock %}
    </body>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- <script src="/static/vendors/chart.js/Chart.min.js"></script> -->
    <script src="/static/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/static/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/static/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/static/vendors/owl-carousel-2/owl.carousel.min.js"></script>
 
    <!-- <script src="/static/vendors/chart.js/dist/Chart.min.js"></script> -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/static/js/off-canvas.js"></script>
    <script src="/static/js/hoverable-collapse.js"></script>
    <script src="/static/js/misc.js"></script>
    <script src="/static/js/settings.js"></script>
    <script src="/static/js/todolist.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/dashboard.js"></script>


    <!-- endinject -->
    <!-- Custom js for this page -->
    <script>
      // Add this script to generate the doughnut chart using Chart.js
      document.addEventListener('DOMContentLoaded', function() {
          var ctx = document.getElementById('calorieBudgetChart').getContext('2d');
          var data = {
              datasets: [{
                  // data: [ {{ remaining_calories }},{{ calorie_consumed }}],
                  data: [ 120,800],

                  backgroundColor: ['#36A2EB', '#FF6384']
              }],
              labels: ['Remaining Calories', 'Calories Consumed']
          };

          var options = {
              responsive: true,
              // cutoutPercentage: 70, // Adjust as needed for the size of the hole in the middle
              plugins: {
                        datalabels: {
                            formatter: function(value, context) {
                              return  context.value + ' kcal';
                            },
                            color: 'black', // Label text color
                            font: {
                                size: '14',
                                weight: 'bold'
                            },
                            anchor: 'center',
                            position:'inside',
                            pointStyle: 'circle'
                        }
                    }
          };

          var pieChart = new Chart(ctx, {
              type: 'pie',
              data: data,
              options:options,
                     
          });
      });
  </script>
    <!-- <script src="/static/js/chart.js"></script> -->

    <!-- End custom js for this page -->
    
  </body>

</html>