<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Clean Vue datepicker component with animations</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Google+Sans:300,400,500'>
<link rel="stylesheet" href="/static/dist/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div class="container">
    <Calendar />
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js'></script>
  <script  src="/static/dist/script.js"></script>

</body>
</html>
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Clean Vue datepicker component with animations</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Google+Sans:300,400,500'>
<link rel="stylesheet" href="/static/dist/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div class="container">
    <Calendar />
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js'></script>
  <script  src="/static/dist/script.js"></script>

</body>
</html>
